.homepage {
  width: 100%;
}

/* HERO SECTION */
.hero {
  height: 85vh;
  background-color: #6f8f84;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CENTER CONTENT */
.hero-content {
  text-align: center;
  max-width: 900px;
  padding: 20px;
}

/* TITLE */
.hero h1 {
  font-size: 4rem;
  color: #e4f2ec;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

/* SUBTEXT */
.hero p {
  font-size: 1.4rem;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 30px;
}

/* BUTTON CONTAINER */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* PRIMARY BUTTON */
.primary-btn {
  background-color: #9ed3b8;
  color: black;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}

/* SECONDARY BUTTON */
.secondary-btn {
  background-color: transparent;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 1rem;
  cursor: pointer;
}

/* HOVER EFFECT */
.primary-btn:hover {
  opacity: 0.9;
}

.secondary-btn:hover {
  background-color: white;
  color: #6f8f84;
}